{% extends "base.html" %}

{% block content %}
  {{ super() }}

<div class="header">
  <h1>Správce stahování</h1>
</div>

<div>
 {% if downloaded %}<h5>Added LV {{ lv }} from land register {{ lr }}</h5>{% else %}<br>{% endif %}
</div>

{% if current %}
  <div class="switch_download">
    <table class="switch_download">
      <tr>
        {% if current.active %}
          <td>
            <h3>Zastavit stahování:</h3>
          </td>
          <td>
            <form method="post" action={{ url_for("stop_download") }}>
              <input type="image" src={{ url_for("static", filename="img/stop.png") }} alt="zastavit stahování" title="zastavit stahování" style="width:50px;height:50px;"/>
            </form>
          </td>
        {% else %}
          <td>
            <h3>Spustit stahování:</h3>
          </td>
          <td>
            <form method="post" action={{ url_for("start_download") }}>
              <input type="image" src={{ url_for("static", filename="img/start.png") }} alt="spustit stahování" title="spustit stahování" style="width:50px;height:50px;"/>
            </form>
          </td>
        {% endif %}
      </tr>
    </table>
  </div>
{% endif %}

<br>

<div class="download_bar">
  <table>
    <tr>
      <th>Číslo registru</th>
      <th>Lokalita</th>
      <th>Celkem LV</th>
      <th>Zbývá</th>
      <th>Délka stahování</th>
      {% if current %}
        <th colspan="2">Možnosti</th>
      {% else %}
        <th>Možnosti</th>
      {% endif %}
    </tr>
    <tr>
      {% if current %}
        <td>{{ current.lr_number }} </td>
        <td>{{ current.locality }} </td>
        <td>{{ current.lv_count }} </td>
        <td title={{ current.completeness }}%>{{ current.left }} </td>
        <td>{{ current.finish }} </td>
        <td>
          <a title="zobrazit lv" href={{ url_for("lvs", locality=current.lr_number) }}>
            <img src={{ url_for("static", filename="img/view.png") }} alt="zobrazit lv" style="width:25px;height:25px">
          </a>
        </td>
        <td>
          <form method="post" action={{ url_for("delete_from_download_bar") }}>
            <input type="hidden" name="lr_number" value={{ current.lr_number }} />
            <input type="image" src={{ url_for("static", filename="img/delete.png") }} alt="Zrušit stahování" title="Zrušit stahování" style="width:25px;height:25px;"/>
          </form>
        </td>
      {% else %}
        <td>-<td>
        <td>-<td>
        <td>-<td>
        <td>-<td>
        <td>-<td>
        <td>-<td>
      {% endif %}
    </tr>
  </table>
</div>

<br><br>

<div class="download_queue">
  <table>
    <tr>
      <th>Číslo registru</th>
      <th>Lokalita</th>
      <th>Celkem LV</th>
      <th>Zbývá</th>
      <th>Délka stahování</th>
      <th colspan="5">Možnosti</th>
    </tr>
    {% for line in queue %}
      <tr>
        <td>{{ line.lr_number}} </td>
        <td>{{ line.locality }} </td>
        <td>{{ line.lv_count }} </td>
        <td title={{ line.completeness }}%>{{ line.left }}</td>
        <td>{{ line.finish }} </td>
        <td>
          <a title="zobrazit lv" href={{ url_for("lvs", locality=line.lr_number) }}>
            <img src={{ url_for("static", filename="img/view.png") }} alt="zobrazit lv" style="width:25px;height:25px">
          </a>
        </td>
        <td>
          <form method=post action={{ url_for("prior_download") }}>
            <input type="hidden" name="lr_number" value={{ line.lr_number }} />
            <input type="image" src={{ url_for("static", filename="img/download.png") }} alt="začít stahovat okamžitě" title="začít stahovat okamžitě" style="width:25px;height:25px;"/>
          </form>
        </td>
        <td>
          <form method=post action={{ url_for("download_queue_up") }}>
            <input type="hidden" name="lr_number" value={{ line.lr_number }} />
            <input type="image" src={{ url_for("static", filename="img/up.png") }} alt="posunout nahoru" title="posunout nahoru" style="width:25px;height:25px;"/>
          </form>
        </td>
        <td>
          <form method=post action={{ url_for("download_queue_down") }}>
            <input type="hidden" name="lr_number" value={{ line.lr_number }} />
            <input type="image" src={{ url_for("static", filename="img/down.png") }} alt="posuout dolů"  title="posunout dolů" style="width:25px;height:25px;"/>
          </form>
        </td>
        <td>
          <form method=post action={{ url_for("delete_from_download_queue") }}>
            <input type="hidden" name="lr_number" value={{ line.lr_number }} />
            <input type="image" src={{ url_for("static", filename="img/delete.png") }} alt="odstranit z fronty" title="odstranit z fronty" style="width:25px;height:25px;"/>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>


<br>

<div style="float: right, width:200px;">
  <form action={{ url_for("downloads") }} method="post">
    <table>
      <tr>
        <td>Name of land register:</td>
        <td><input type="text" name="lr_name" placeholder="Název katastru"></td>
      </tr>

      <tr>
        <td>Number of land register:</td>
        <td><input type="text" name="lr_id" placeholder="ČÍslo katastru"></td>
      </tr>

      <tr>
        <td>LV number:</td>
        <td><input type="text" name="lv_id" placeholder="LV" required></td>
      </tr>

      <tr colspan="2">
        <td><input type="submit" value="Download"></td>
      </tr>
    </table>
  </form>
</div>

{% endblock %}