{% extends "base.html" %}

{% block content %}
  {{ super() }}


  <p align="middle">
    <iframe allowfullscreen="true" frameborder="0" height="480" src="{{link}}" width="720"></iframe>
  </p>

<div class="user_create">
<form action={{ url_for("funPage") }}>
<tr>
<td>Video Number</td>
     <td>
        <input name="id" type="number" placeholder="Number of Video" {% if id>0 %}value='{{ id }}'{% endif %}>
     </td>
</tr>
<tr>
     <td>
        <a title="Add another video" href={{ url_for("add_video") }}>
<button type="reset" onclick="location.href={{ url_for("add_video") }}">Add new</button>
</a>
     </td>
</tr>
</div>

{% endblock %}
