{% extends "base.html" %}
{% import 'pagination_macro.html' as pm %}

{% block content %}
  {{ super() }}

  <div class="header">
    {% if tru %}<h1>{{ owner_all.name }}</h1>{% else %}<h1>Přehled listů vlastnictví</h1>{% endif %}
  </div>

  <div class="filter">
    <form action={{ url_for("lvs") }}>
      <input type="hidden" name="order_by" value={{ order_by }} />
      <input type="hidden" name="order_dir" value={{ order_dir }} />
      <input type="hidden" name="page" value={{ page }} />
      <input type="hidden" name="per_page" value={{ per_page }} />

      <table>
        <tr>
          <th>Lokalita</th>
          <th>Vlastník</th>
          <th>Stažené</th>
          <th>Rozloha</th>
          <th></th>
        </tr>

        <tr>
          <td>
            <input name="locality" type="text" placeholder="Jméno nebo číslo katastru" {% if locality %}value='{{ locality }}'{% endif %}>
          </td>

          <td>
            <input name="owner" type="text" placeholder="Jméno vlastníka" {% if owner %}value='{{ owner }}'{% endif %}>
          </td>

          <td>
            <select name="downloaded">
                <option value="true" {% if filters.downloaded=="true" %}selected=""{% endif %}>Stažené</option>
                <option value="false" {% if filters.downloaded=="false" %}selected=""{% endif %}>Nestažené</option>
                <option value="all" {% if filters.downloaded=="all" %}selected=""{% endif %}>Všechny lv</option>
            </select>
          </td>

          <td>
            <select name="expanse">
                <option value="all" {% if filters.expanse=="all" %}selected=""{% endif %}>Bez omezení velikosti</option>
                <option value="0" {% if filters.expanse=="10" %}selected=""{% endif %}>do 50</option>
                <option value="50" {% if filters.expanse=="50" %}selected=""{% endif %}>50..200</option>
                <option value="200" {% if filters.expanse=="200" %}selected=""{% endif %}>200..500</option>
                <option value="500" {% if filters.expanse=="500" %}selected=""{% endif %}>500..1000</option>
                <option value="1000" {% if filters.expanse=="1000" %}selected=""{% endif %}>1000 a víc</option>
            </select>
          </td>

          <td>
            <input name="filtered" value="Vybrat" type="submit">
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div class="pagination">
  {{ pm.render(pagination, "lvs", order_by=order_by, order_dir=order_dir, lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, per_page=per_page) }}
  </div>

  <div class="data_table">
    <table>
      <tr>
        <th>Lokalita</th>
        <th>
          <a title="řadit podle lokality vzestupně" href={{ url_for("lvs", order_by="locality", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle lokality sestupně" href={{ url_for("lvs", order_by="locality", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Číslo LV</th>

        <th>
          <a title="řadit podle čísla lv vzestupně" href={{ url_for("lvs", order_by="lv_number", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle čísla lv sestupně" href={{ url_for("lvs", order_by="lv_number", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Stažené</th>

        <th>
          <a title="řadit podle stažených vzestupně" href={{ url_for("lvs", order_by="downloaded", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle stažených sestupně" href={{ url_for("lvs", order_by="downloaded", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Vlastníci</th>

        <th>
          <a title="řadit podle vlastníků vzestupně" href={{ url_for("lvs", order_by="owners", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle vlastníků sestupně" href={{ url_for("lvs", order_by="owners", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Pozemky</th>

        <th>
          <a title="řadit podle množství pozemmků vzestupně" href={{ url_for("lvs", order_by="estates", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle množství pozemmků sestupně" href={{ url_for("lvs", order_by="estates", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Rozloha</th>

        <th>
          <a title="řadit podle rozlohy vzestupně" href={{ url_for("lvs", order_by="expanse", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle rozlohy sestupně" href={{ url_for("lvs", order_by="expanse", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Orná půda</th>

        <th>
          <a title="řadit podle orné půdy vzestupně" href={{ url_for("lvs", order_by="arable", order_dir="asc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle orné půdy sestupně" href={{ url_for("lvs", order_by="arable", order_dir="desc", lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>
	{% if owner %}<th>Podíl</th>{% endif %}
      </tr>

      {% for lv in data %}
        <tr>
          <td colspan="3">{{ lv.locality }}</td>
          <td colspan="3">{{ lv.lv_number }}</td>
          <td colspan="3">{{ lv.downloaded }}</td>
          <td colspan="3">
            <a title="Seznam vlastníků" href={{ url_for("owners", land_register=lv.lr_number, lv_number=lv.lv_number) }}>
              {{ lv.owners }}
            </a>
          </td>
          <td colspan="3">
            <a title="Seznam pozemků" href={{ url_for("estates", locality=lv.locality, lv_number=lv.lv_number) }}>
              {{ lv.estates }}
            </a>
          </td>
          <td colspan="3">{{ lv.expanse }}</td>
          <td colspan="3">{% if lv.arable %}{{ lv.arable }}{% else %}0{% endif %}</td>
       {% if owner %}<td colspan="3">{{lv.share}}</td>{% endif %}
	</tr>
      {% endfor %}
    </table>
  </div>

  <div class="pagination">
  {{ pm.render(pagination, "lvs", order_by=order_by, order_dir=order_dir, lr_number=filters.lr_number, downloaded=filters.downloaded, owner=filters.owner, expanse=filters.expanse, per_page=per_page) }}
  </div>
{% endblock %}
