{% extends "base.html" %}
{% import 'pagination_macro.html' as pm %}

{% block content %}
  {{ super() }}

  <div class="header">
      {% if filters.owner %}<h1>{{ owner_all.name }}</h1>{% else %}<h1>Přehled vlastníků</h1>{% endif %}
  </div>

  <div align="right">
<form action={{ url_for("owners") }}>
            <input name="excel" value="Download" type="submit">
          </div>
</form>
  <div class="filter">
    <form action={{ url_for("owners") }}>
      <input type="hidden" name="order_by" value={{ order_by }} />
      <input type="hidden" name="order_dir" value={{ order_dir }} />
      <input type="hidden" name="page" value={{ page }} />
      <input type="hidden" name="per_page" value={{ per_page }} />

      <table>
        <tr>
          <th>Jméno</th>
          <th>Město</th>
          <th>Katastr</th>
          <th>Tag</th>
          <th>Rozloha pozemků</th>
          <th>Aktivní</th>
        </tr>

        <tr>
          <td>
            <input name="name" type="text" placeholder="Jméno vlastníka" {% if filters.name %}value={{ filters.name }}{% endif %}>
          </td>

          <td>
            <input name="city" type="text" placeholder="Bydliště" {% if filters.city %}value={{ filters.city }}{% endif %}>
          </td>

          <td>
            <input name="land_register" type="text" placeholder="Jméno nebo číslo katastru" {% if filters.land_register %}value={{ filters.land_register }}{% endif %}>
          </td>

          <td>
            <select name="tag">
              <option value="" {% if filters.tag=="" %}selected=""{% endif %}>Bez označení</option>
              <option value="tag_negotiation" {% if filters.tag=="tag_negotiation" %}selected=""{% endif %}>Rozjednané</option>
              <option value="tag_success" {% if filters.tag=="tag_success" %}selected=""{% endif %}>Úspěšné jednání</option>
              <option value="tag_failure" {% if filters.tag=="tag_failure" %}selected=""{% endif %}>Neúspěšné jednání</option>
              <option value="tag_execution" {% if filters.tag=="tag_execution" %}selected=""{% endif %}>Exekuce</option>
              <option value="tag_call" {% if filters.tag=="tag_call" %}selected=""{% endif %}>Volat</option>
              <option value="tag_change" {% if filters.tag=="tag_change" %}selected=""{% endif %}>Změna</option>
              <option value="tag_find_owners" {% if filters.tag=="tag_find_owners" %}selected=""{% endif %}>Dopátrat vlastníky</option>
              <option value="tag_call_later" {% if filters.tag=="tag_call_later" %}selected=""{% endif %}>Oslovit později</option>
              <option value="tag_call_not" {% if filters.tag=="tag_call_not" %}selected=""{% endif %}>Neoslovovat</option>
              <option value="tag_oslovit" {% if filters.tag=="tag_oslovit" %}selected=""{% endif %}>Oslovit</option>
            </select>
          </td>

          <td>
            <select name="expanse">
                <option value="all" {% if filters.expanse=="all" %}selected=""{% endif %}>Bez omezení velikosti</option>
                <option value="0" {% if filters.expanse=="0" %}selected=""{% endif %}>do 50</option>
                <option value="50" {% if filters.expanse=="50" %}selected=""{% endif %}>50..200</option>
                <option value="200" {% if filters.expanse=="200" %}selected=""{% endif %}>200..500</option>
                <option value="500" {% if filters.expanse=="500" %}selected=""{% endif %}>500..1000</option>
                <option value="1000" {% if filters.expanse=="1000" %}selected=""{% endif %}>1000 a víc</option>
            </select>
          </td>

          <td>
            <select name="active">
              <option value="all" {% if filters.active=="all" %}selected=""{% endif %}>Všichni vlastníci</option>
              <option value="true" {% if filters.active=="true" %}selected=""{% endif %}>Pouze aktivní</option>
              <option value="false" {% if filters.active=="false" %}selected=""{% endif %}>Pouze neaktivní</option>
            </select>
          </td>

          <td>
            <input name="filtered" value="Vybrat" type="submit">
          </td>

          

        </tr>
      </table>
    </form>
  </div>

  <div class="pagination">
    {{ pm.render(pagination, "owners", order_by=order_by, order_dir=order_dir, city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, per_page=per_page, lv_number=filters.lv_number) }}
  </div>

  <div class="data_table">
    <table>
      <tr>
        <th>Jméno</th>

        <th>
          <a title="řadit podle jména vzestupně" href={{ url_for("owners", order_by="name", order_dir="asc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle jména sestupně" href={{ url_for("owners", order_by="name", order_dir="desc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Ročník</th>

	<th><center>Město</th>

        <th>LV</th>

        <th>
          <a title="řadit podle počtu LV vzestupně" href={{ url_for("owners", order_by="lvs", order_dir="asc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle počtu LV sestupně" href={{ url_for("owners", order_by="lvs", order_dir="desc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Pozemky</th>

        <th>
          <a title="řadit podle počtu pozemků vzestupně" href={{ url_for("owners", order_by="estates", order_dir="asc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle počtu pozemků sestupně" href={{ url_for("owners", order_by="estates", order_dir="desc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th>Rozloha</th>

        <th>
          <a title="řadit podle rozlohy pozemků vzestupně" href={{ url_for("owners", order_by="expanse", order_dir="asc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle rozlohy pozemků sestupně" href={{ url_for("owners", order_by="expanse", order_dir="desc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>
<!--
        <th>Události</th>

        <th>
          <a title="řadit podle počtu nadcházejících událostí vzestupně" href={{ url_for("owners", order_by="upcoming", order_dir="asc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle počtu nadcházejících událostí sestupně" href={{ url_for("owners", order_by="upcoming", order_dir="desc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>
-->
        <th>Aktualizace</th>

        <th>
          <a title="řadit podle počtu nadcházejících událostí vzestupně" href={{ url_for("owners", order_by="upcoming", order_dir="asc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/up.png") }} alt="řadit vzestupně">
          </a>
        </th>

        <th>
          <a title="řadit podle počtu nadcházejících událostí sestupně" href={{ url_for("owners", order_by="upcoming", order_dir="desc", city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, page=page, per_page=per_page) }}>
            <img src={{ url_for("static", filename="img/down.png") }} alt="řadit sestupně">
          </a>
        </th>

        <th colspan="10">Tagy</th>
  {% if owner %}<th>Podíl</th>{% endif %}
      </tr>

      {% for owner in data %}
        <tr>
          <td colspan="3">
            <a title="{% if owner.note %}{{ owner.note }}{% else %}{% endif %}" href={{ url_for("owner_detail", owner_id=owner.id) }}>
             {% if owner.note %}<b>{{ owner.name }}</b>{% else %}{{ owner.name }}{% endif %}
            </a>
          </td>
          <td><center>{% if owner.birth %}{{ owner.birth }}{% else %}-{% endif %}<center></td>
	<td><center>
	{% if owner.city %}
          {{ owner.city }}
        {% else %}
          -
        {% endif %}
</td>
          <td colspan="3">
            <a title="Seznam LV" href={{ url_for("lvs", owner=owner.id) }}>
              {{ owner.lvs }}
            </a>
          </td>
          <td colspan="3">
            <a title="Seznam pozemků" href={{ url_for("estates", owner=owner.id) }}>
              {{ owner.estates }}
            </a>
          </td>
          <td colspan="3">{{ owner.expanse }}</td>
<!--
          <td colspan="3">{{ owner.upcoming }}</td>
  -->
        <td colspan="10">{{ owner.last_modified }}</td>
          <td>
            <div id="block_container">
            {% if owner.tag_negotiation %}<div class="tag tag_negotiation"></div>{% endif %}
            {% if owner.tag_execution %}<div class="tag tag_execution"></div>{% endif %}
            {% if owner.tag_call %}<div class="tag tag_call"></div>{% endif %}
            {% if owner.tag_change %}<div class="tag tag_change"></div>{% endif %}
            {% if owner.tag_find_owners %}<div class="tag tag_find_owners"></div>{% endif %}
            {% if owner.tag_call_later %}<div class="tag tag_call_later"></div>{% endif %}
            {% if owner.tag_call_not %}<div class="tag tag_call_not"></div>{% endif %}
            {% if owner.tag_oslovit %}<div class="tag tag_oslovit"></div>{% endif %}
            {% if owner.tag_success %}<div class="tag_up"><img src={{ url_for("static", filename="img/palec_up.png") }}></div>{% endif %}
            {% if owner.tag_failure %}<div class="tag_down"><img src={{ url_for("static", filename="img/palec_down.png") }}></div>{% endif %}
            </div>

       {% if owner %}<td colspan="3">{{owner.share}}</td>{% endif %}

	</tr>
      {% endfor %}
    </table>
  </div>


<div class="pagination">
    {{ pm.render(pagination, "owners", order_by=order_by, order_dir=order_dir, city=filters.city, land_register=filters.land_register, tag=filters.tag, name=filters.name, active=filters.active, expanse=filters.expanse, per_page=per_page, lv_number=filters.lv_number) }}
  </div>

{% endblock %}
