{% macro render_activities(act_list) %}
  <table>
    <tr>
      <th>Forma</th>
      <th>Datum</th>
      <th>Výsledek</th>
      <th>Poznámka</th>
      <th colspan="2">Možnosti</th>
    </tr>

    {% for act in act_list %}
      <tr>
        <td>{{ act.channel }}</td>
        <td>{{ act.date }}</td>
        <td>{{ act.result }}</td>
        <td>{{ act.note }}</td>
        <td>
          <form method="post" action={{ url_for("activity_edit") }}>
            <input type="hidden" name="channel" value={{ act.channel }} />
            <input type="hidden" name="date" value={{ act.date }} />
            <input type="hidden" name="result" value={{ act.result }} />
            <input type="hidden" name="note" value={{ act.note }} />
            <input type="hidden" name="owner" value={{ owner.id }} />
            <input type="hidden" name="act_id" value={{ act.id }} />
            <input type="image" src={{ url_for("static", filename="img/edit.png") }} alt="Upravit poznámku" title="Upravit poznámku"/>
          </form>
        </td>
        <td>
          <form method="post" action={{ url_for("activity_delete") }}>
            <input type="hidden" name="owner" value={{ owner.id }} />
            <input type="hidden" name="act_id" value={{ act.id }} />
            <input type="image" src={{ url_for("static", filename="img/delete.png") }} alt="Smazat poznámku" title="Smazat poznámku"/>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endmacro %}

{% extends "base.html" %}

{% block content %}
  {{ super() }}

<div class="user_detail">
  <h1>{{ owner.name }}
      <a title="Upravit vlastníka" href={{ url_for("owner_edit", owner_id=owner.id) }}>
        <img src={{ url_for("static", filename="img/edit.png") }} alt="Upravit vlastníka">
      </a>
    </h1>

  <table>
    <tr>
      <td><b>Email</b></td><td>
        {% if owner.mail %}
          {{ owner.mail }}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Telefon</b></td><td>
        {% if owner.phone %}
          {{ owner.phone }}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Město</b></td><td>
        {% if owner.city %}
          {{ owner.city}}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Ulice</b></td><td>
        {% if owner.street %}
          {{ owner.street }}
          {% if owner.str_number %}
            {{ owner.str_number }}
          {% endif %}</td>
        {% else %}
          -
        {% endif %}
    </tr>
    <tr>
      <td><b>PSČ</b></td><td>
        {% if owner.post_code %}
          {{ owner.post_code }}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
    <tr>
      <td><b>Ročník</b></td><td>
        {% if owner.birth %}
          {{ owner.birth }}
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
  </table>
</div>

  <br><br>

<div class="user_tags">
  <form action={{ url_for("owner_tags_set") }} method="post">
    <input type="hidden" name="owner" value={{ owner.id }} />

    <table>
      <tr>
        <th colspan="2"><h3>Tagy vlastníka</h3></th>
      <tr>
      <tr>
        <td><div class="tag_edit"><img src={{ url_for("static", filename="img/palec_up.png") }}></div>Úspěšné jednání</td>
        <td>
          <input type="checkbox" name="tag_success" value="true" {% if owner.tag_success %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag_edit"><img src={{ url_for("static", filename="img/palec_down.png") }}></div>Neúspěšné jednání</td>
        <td>
          <input type="checkbox" name="tag_failure" value="true" {% if owner.tag_failure %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag tag_negotiation"></div>Rozjednané</td>
        <td>
          <input type="checkbox" name="tag_negotiation" value="true" {% if owner.tag_negotiation %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag tag_execution"></div>Exekuce</td>
        <td>
          <input type="checkbox" name="tag_execution" value="true" {% if owner.tag_execution %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag tag_call"></div>Volat</td>
        <td>
          <input type="checkbox" name="tag_call" value="true" {% if owner.tag_call %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag tag_change"></div>Změna</td>
        <td>
          <input type="checkbox" name="tag_change" value="true" {% if owner.tag_change %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag tag_find_owners"></div>Dopátrat vlastníky</td>
        <td>
          <input type="checkbox" name="tag_find_owners" value="true" {% if owner.tag_find_owners %}checked{% endif %}>
        </td>
      </tr>
      <tr>
        <td><div class="tag tag_call_later"></div>Oslovit později</td>
        <td>
          <input type="checkbox" name="tag_call_later" value="true" {% if owner.tag_call_later %}checked{% endif %}>
        </td>
      </tr>
      
      <tr>
        <td><div class="tag tag_call_not"></div>Neoslovovat</td>
        <td>
          <input type="checkbox" name="tag_call_not" value="true" {% if owner.tag_call_not %}checked{% endif %}>
        </td>

        <tr>
        <td><div class="tag tag_oslovit"></div>Oslovit</td>
        <td>
          <input type="checkbox" name="tag_oslovit" value="true" {% if owner.tag_oslovit %}checked{% endif %}>
        </td>

      <tr>
        <td>
          <input type="submit" value="Uložit tagy">
        </td><td></td>
      </tr>
    </table>

  </form>
</div>

  <br><br>

<div class="user_note">
  <h3>Poznámka k vlastníkovi</h3>

  <form action={{ url_for("owner_note_save") }} method="post">
    <input type="hidden" name="owner" value={{ owner.id }} />

    <table>
      <tr><td>
        <textarea rows="5" cols="64" name="note">
          {%- if owner.note -%}
            {{- owner.note -}}
          {%- else -%}
            poznámka k uživateli...
          {%- endif -%}
        </textarea>
      </td></tr>

      <tr><td>
        <input type="submit" value="Uložit poznámku">
      </td></tr>
    </table>
  </form>
</div>

  <br><br>

<div class="user_detail">
  <a title="Přidat událost" href={{ url_for("activity_add", owner=owner.id) }}>
    <img src={{ url_for("static", filename="img/event.png") }} alt="Přidat událost">
  </a>

  {% if activities %}
    <div class="upcoming_events">
      <h3>Nadcházející události</h3>
      {{ render_activities(activities) }}
    </div>
  {% endif %}

  {% if pastActivities %}
    <div class="past_events">
      <h3>Uplynulé události</h3>
      {{ render_activities(pastActivities) }}
    </div>
  {% endif %}
</div>

{% endblock %}
