{% extends "base.html" %}

{% block content %}
  {{ super() }}

<div class="header">
  <h1>Úprava detailu vlastníka</h1>
</div>

<div class="user_edit">
  <div class="user_detail_name">
    <h2>{{ owner.name }}</h2>
  </div>

  <form action={{ url_for("owner_edit_save") }} method="post">
    <input type="hidden" name="owner_id" value={{ owner.id }} />

    <table>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text" name="mail" placeholder="email" {% if owner.email %}value='{{ owner.mail }}'{% endif %}>
        </td>
      </tr>

      <tr>
        <td>Telefon:</td>
        <td>
          <input type="text" name="phone" placeholder="telefon" {% if owner.phone %}value={{ owner.phone }}{% endif %}>
        </td>
      </tr>

      <tr>
        <td>Město:</td>
        <td>
          <input type="text" name="city" placeholder="město" {% if owner.city %}value='{{ owner.city}}'{% endif %}>
        </td>
      </tr>

      <tr>
        <td>Ulice:</td>
        <td>
          <input type="text" name="street" placeholder="ulice" {% if owner.street %}value='{{ owner.street }}'{% endif %}>
        </td>
      </tr>

      <tr>
        <td>Číslo popisné:</td>
        <td>
          <input type="text" name="str_number" placeholder="číslo popisné" {% if owner.str_number %}value='{{ owner.str_number }}'{% endif %}>
        </td>
      </tr>

      <tr>
        <td>PSČ:</td>
        <td>
          <input type="text" name="post_code" placeholder="směrovací číslo" {% if owner.post_code %}value='{{ owner.post_code }}'{% endif %}>
        </td>
      </tr>

      <tr>
        <td>Ročník:</td>
        <td>
          <input type="text" name="birth" placeholder="ročník narození" {% if owner.birth %}value='{{ owner.birth }}'{% endif %}>
        </td>
      </tr>

      <tr colspan="2">
        <td><input type="submit" value="Uložit"></td>
      </tr>
    </table>
</div>

{% endblock %}
