{% extends "base.html" %}

{% block content %}
  {{ super() }}

<h1>Přidání katastru</h1>

<br>

<div class="scanner_add">
  <form action={{ url_for("append_to_scan_queue") }} method="post">
    <input type="hidden" name="force" value="nope" />
    <table>
      <tr>
        <td>Název katastru:</td>
        <td><input type="text" name="lr_name" required></td>
      </tr>

      <tr>
        <td>Identifikátor katastru:</td>
        <td><input type="text" name="lr_id" required></td>
      </tr>

      <tr colspan="2">
        <td><input type="submit" value="Přidat"></td>
      </tr>
    </table>
  </form>
</div>

{% endblock %}
